<template>
  <div>
    <page-header :title="item.id != null ? 'Edit banner' : 'Create banner'" :show-back="true"></page-header>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-card class="mx-auto" max-width="650px">
        <v-container>
          <p v-if="item.id && item.media">File name: {{item.media.url}}</p>
          <v-file-input
            v-model="tempMedia"
            accept="image/png, image/jpeg, image/jpg"
            label="Banner"
            prepend-icon="mdi-image-area"
            required
            show-size
            outlined
            dense
          ></v-file-input>
          <v-divider class="mb-3 mt-n2"></v-divider>
          <v-text-field
            v-model="item.description"
            :rules="descriptionRules"
            label="Description"
            required
            outlined
            dense
          ></v-text-field>
          <v-select
            v-model="item.status"
            :items="statusOption"
            label="Status"
            item-text="label"
            item-value="id"
            outlined
            dense
          ></v-select>

          <v-text-field
            v-model="item.created_at"
            label="Created at"
            :disabled="true"
            outlined
            dense
          ></v-text-field>
          <v-text-field
            v-model="item.updated_at"
            label="Updated at"
            :disabled="true"
            outlined
            dense
          ></v-text-field>
          <v-btn
            color="success"
            depressed
            block
            :disabled="!valid || (!item.id && !tempMedia)"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-container>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import _ from "lodash";
import PageHeader from "@/components/PageHeader";

export default {
  name: "LocationForm",
  components: {
    PageHeader,
  },
  created() {
    if (this.$route.params.id) {
      this.fetchItem(this.$route.params.id);
    }
  },
  data() {
    return {
      tempMedia: null,
      item: {
        id: null,
        description: null,
        status: 1,
        media: null,
        created_at: null,
        updated_at: null,
      },
      statusOption: [
        {id: 1, label: "Enabled"},
        {id: 0, label: "Disabled"},
      ],
      descriptionRules: [
        v => !!v || 'Description is required',
      ],
      valid: true,
      loading: false,
    }
  },
  computed: {},
  methods: {
    async fetchItem(id) {
      this.loading = true;
      try {
        const data = await this.$api.banner.view(id);
        this.item = data.data;
        this.item.media = JSON.parse(data.data.media);
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async submit() {
      const success = this.$refs.form.validate();
      if (success) {
        this.loading = true;
        try {
          this.item.media = this.tempMedia;
          const data = await (this.item.id !== null ?
            await this.$api.banner.edit(this.item.id, this.item) :
            await this.$api.banner.create(this.item));
          this.submitSuccess(data.data);
        } catch (e) {
          this.alert('error', e.message);
        }
        this.loading = false;
      }
    },

    submitSuccess: function (data) {
      this.alert('success', data.message);
      this.$router.push({
        name: 'banner'
      });
    },

  },
}
</script>

<style scoped>

</style>
