<template>
  <div>
    <v-container fluid>
      <page-header :title="'Banner list'">
        <template v-slot:actions>
          <v-btn
            color="primary"
            depressed
            class="ml-2"
            :to="{name: 'banner_create'}"
          >
            <v-icon>mdi-plus</v-icon>
            Create
          </v-btn>
          <!--          <v-btn-->
          <!--            color="primary"-->
          <!--            depressed-->
          <!--            class="ml-2"-->
          <!--          >-->
          <!--            <v-icon>mdi-plus</v-icon>-->
          <!--            Save-->
          <!--          </v-btn>-->
        </template>
      </page-header>
      <v-row v-if="items">
        <v-col cols="4" v-for="item in items" :key="item.id">
          <v-card>
            <v-img
              height="250"
              :src="JSON.parse(item.media).url"
            ></v-img>
            <v-card-title>
              {{ item.description }}
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon @click="editLinkFactory(item)">
                  <v-icon>mdi-pen</v-icon>
                </v-btn>
                <v-btn icon @click="deleteItem(item)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col>
                  <div v-if="!item.updated_at">{{ formatDate(item.created_at) }}</div>
                  <div v-else>{{ formatDate(item.updated_at) }}</div>
                </v-col>
                <v-col class="text-right">
                  <v-chip :color="item.status == 1 ? 'success': 'error'">{{ item.status == 1 ? "Enabled" : "Disabled" }}</v-chip>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <div v-else>
        No Data
      </div>
    </v-container>
  </div>
</template>

<script>
import PageHeader from "~/components/PageHeader";
import {format, parseISO} from "date-fns";

export default {
  name: "banner",
  components: [
    PageHeader,
  ],
  data: () => ({
    items: [],
    loading: false,
  }),
  created() {
    this.fetchList();
  },
  methods: {
    async fetchList(params) {
      this.loading = true;
      try {
        const data = await this.$api.banner.list(params);
        this.items = data.data;
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async deleteItem(item) {
      if (!window.confirm("Confirm to delete?"))
        return;

      try {
        const data = await this.$api.banner.delete(item.id);
        this.alert('success', data.data.message);
        await this.fetchList();
      } catch (e) {
        this.alert('error', e.message);
      }
    },

    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd HH:mm:ss');
    },

    editLinkFactory(item) {
      this.$router.push({
        name: "banner_edit",
        params: {
          id: item.id
        }
      })
    },

  },

}
</script>

<style scoped>

</style>
