<template>
  <div>
    <page-header :title="'Notice chart and export'" :showBack="true"></page-header>
    <v-card>
      <v-container>
        <v-row>
          <v-col>
            <DatetimePicker
              label="Start date"
              v-model="date_data.start_date"
            ></DatetimePicker>
          </v-col>
          <v-col>
            <DatetimePicker
              label="End date"
              v-model="date_data.end_date"
            ></DatetimePicker>
          </v-col>
          <v-col>
            <v-row>
              <v-col>
                <v-btn
                  block
                  color="primary"
                  @click="searchRecord(date_data)"
                  :disabled="!date_data.start_date || !date_data.end_date"
                >
                  <v-icon>mdi-magnify</v-icon>
                  Search
                </v-btn>
              </v-col>
              <v-col>
                <v-btn
                  block
                  color="secondary"
                  @click="exportRecord(date_data)"
                  :disabled="chartDataArr.length < 1"
                >
                  <v-icon>mdi-export</v-icon>
                  Export
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>

      <v-container>
        <LineChart :chartData="chartDataArr" :options="chartOptions" v-if="recordData.length > 0"></LineChart>
        <div class="text-center" v-else>No data</div>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import DatetimePicker from "@/components/DatetimePicker";
import {format, parseISO} from "date-fns";
import _ from "lodash";

export default {
  name: "export",
  components: {
    DatetimePicker
  },
  data() {
    return {
      date_data: {
        start_date: null,
        end_date: null,
      },
      chartDataArr: [],
      chartOptions: {
        title: {
          display: true,
          text: 'Mask detection record',
        },
        maintainAspectRatio: false,
        responsive: true,
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              beginAtZero: true,
              stepSize: 1
            }
          }]
        }
      },
      recordData: [],
    }
  },
  computed: {},
  methods: {

    async searchRecord(data) {
      this.loading = true;
      try {
        const params = {};
        params['start_date'] = data.start_date;
        params['end_date'] = data.end_date;
        const rawWeekData = await this.$api.notice.fetchDashboardData(params);
        this.recordData = rawWeekData.data;
        this.chartDataArr = this.chartDataFormat(this.recordData);
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async exportRecord(data) {
      this.loading = true;
      try {
        const params = {};
        params['start_date'] = data.start_date;
        params['end_date'] = data.end_date;
        await this.$api.notice.exportData(params);
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    chartDataFormat(data) {
      const formatedData = [];
      const tempDateLabels = [];
      data.forEach(function (d) {
        const dateKey = format(parseISO(d.created_at), 'MM-dd');
        tempDateLabels.push(dateKey);
      });

      const dateLabels = _.uniq(tempDateLabels);
      dateLabels.forEach(function (dl) {
        let mask_weared_incorrect_count = 0;
        let with_mask_count = 0;
        let without_mask_count = 0;
        let total_count = 0;
        data.forEach(function (d) {
          const dateKey = format(parseISO(d.created_at), 'MM-dd');
          if (dateKey === dl) {
            mask_weared_incorrect_count += d.mask_weared_incorrect_count;
            with_mask_count += d.with_mask_count;
            without_mask_count += d.without_mask_count;
            total_count += d.total_count;
          }
        });
        formatedData[dl] = {
          "mask_weared_incorrect_count": mask_weared_incorrect_count,
          "with_mask_count": with_mask_count,
          "without_mask_count": without_mask_count,
          "total_count": total_count,
        };
      });

      let finalObj = {};
      let mask_weared_incorrect_arr = [];
      let with_mask_arr = [];
      let without_mask_arr = [];
      let total_arr = [];
      for (const [key, value] of Object.entries(formatedData)) {
        mask_weared_incorrect_arr.push(value.mask_weared_incorrect_count);
        with_mask_arr.push(value.with_mask_count);
        without_mask_arr.push(value.without_mask_count);
        total_arr.push(value.total_count);
      }
      finalObj = {
        labels: dateLabels,
        datasets: [
          {
            label: 'With mask',
            borderColor: '#4CAF50',
            borderWidth: 2,
            data: with_mask_arr,
            tension: 0.1
          },
          {
            label: 'Mask weared incorrect',
            borderColor: '#ff9800',
            borderWidth: 2,
            data: mask_weared_incorrect_arr,
            tension: 0.1
          },
          {
            label: 'Without mask',
            borderColor: '#ff5252',
            borderWidth: 2,
            data: without_mask_arr,
            tension: 0.1
          },
          {
            label: 'Total',
            borderColor: '#414141',
            borderWidth: 2,
            data: total_arr,
            tension: 0.1
          },
        ],
      }
      return finalObj;
    },

  },
}
</script>

<style scoped>

</style>
