<template>
  <v-container fluid>
    <page-header :title="'Notice List'">
      <template v-slot:actions>
        <v-btn
          color="primary"
          depressed
          @click="exportLinkFactory()"
          :disabled="loading"
        >
          <v-icon>mdi-export</v-icon>
          Chart & Export
        </v-btn>
      </template>
    </page-header>

    <v-card>
      <v-row>
        <v-col>
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            offset-x
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                outlined
                class="ml-3 mb-3"
              >
                <v-icon>mdi-menu</v-icon>
                Filter
              </v-btn>
            </template>
            <v-card min-width="300">
              <v-container>
                <v-autocomplete
                  v-model="filter.location_id"
                  label="Location"
                  :items="options.location"
                  item-text="name"
                  item-value="id"
                  outlined
                  dense
                ></v-autocomplete>

                <v-menu
                  v-model="data_menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="dateRangeText"
                      label="Date"
                      readonly
                      clearable
                      @click:clear="filter.date = []"
                      v-bind="attrs"
                      v-on="on"
                      outlined
                      dense
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="filter.date"
                    range
                  ></v-date-picker>
                </v-menu>
                <v-card-actions>
                  <v-btn
                    color="red"
                    depressed
                    outlined
                    @click="cleanFilter()"
                  >
                    Clean
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    depressed
                    outlined
                    @click="filterSearch()"
                  >
                    Search
                  </v-btn>
                </v-card-actions>
              </v-container>
            </v-card>
          </v-menu>
          <v-btn
            outlined
            class="ml-3 mb-3"
            color="error"
            @click="fetchList"
          >
            <v-icon>mdi-delete-empty</v-icon>
            Clean Filter
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table
        class="elevation-1"
        :headers="headers"
        :items="items"
        :loading="loading"
        loading-text="Loading... Please wait"
      >
        <template v-slot:item.created_at="{ item }">
          {{ item.created_at ? formatDate(item.created_at) : null }}
        </template>
        <template v-slot:item.updated_at="{ item }">
          {{ item.updated_at ? formatDate(item.updated_at) : null }}
        </template>
        <template v-slot:item._action="{ item }">
          <v-btn
            icon
            @click="viewLinkFactory(item.id)"
          >
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>
<script>
import PageHeader from "~/components/PageHeader";
import {endOfDay, format, parseISO, startOfDay} from "date-fns";

export default {
  name: "notice",
  components: [
    PageHeader
  ],
  data: () => ({
    headers: [
      {
        text: 'ID',
        align: 'start',
        value: 'id',
        sortable: false,
      },
      {
        text: 'Location',
        value: 'location.name',
        sortable: true,
      },
      {
        text: 'Mask weared incorrect',
        value: 'mask_weared_incorrect_count',
        sortable: true,
      },
      {
        text: 'With mask',
        value: 'with_mask_count',
        sortable: true,
      },
      {
        text: 'Without mask',
        value: 'without_mask_count',
        sortable: true,
      },
      {
        text: 'Total count',
        value: 'total_count',
        sortable: true,
      },
      {
        text: 'Created At',
        value: 'created_at',
        sortable: true,
      },
      {
        text: 'Action',
        value: '_action',
        sortable: false,
      }
    ],
    items: [],
    options: {
      location: [],
    },
    loading: false,
    menu: false,
    data_menu: false,
    filter: {
      location_id: '',
      date: [],
    }
  }),
  created() {
    this.fetchOptions();
    this.fetchList();
  },
  computed: {
    dateRangeText() {
      return this.filter.date.join(' ~ ')
    },
  },
  methods: {
    async fetchOptions() {
      this.loading = true;
      try {
        const data = await this.$api.notice.getOptions();
        this.options = data.data;
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async fetchList(params) {
      this.loading = true;
      try {
        const data = await this.$api.notice.list(params);
        this.items = data.data;
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd HH:mm:ss');
    },

    filterSearch() {
      const params = {};
      params['filter'] = this.filter;
      this.fetchList(params);
      this.cleanFilter();
    },

    viewLinkFactory(id) {
      this.$router.push({
        name: "notice_view_id",
        params: {
          id: id
        }
      })
    },

    exportLinkFactory() {
      this.$router.push({
        name: "notice_export",
      })
    },

    cleanFilter() {
      this.menu = false;
      this.filter = {
        location_id: null,
        date: [],
      }
    }
  },
}
</script>

<style scoped>

</style>
