<template>
  <div>
    <page-header :title="'Notice View ('+ item.id +')'" :showBack="true"></page-header>
    <v-container>
      <v-card elevation="2">
        <v-img
          :lazy-src="item.media.url"
          :src="item.media.url"
        ></v-img>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6 my-2">
              Location: {{ item.location.name }}
            </v-list-item-title>
            <v-list-item-title class="my-2">
              <v-chip
                class="mr-2"
                color="green"
              >
                With mask count: {{ item.with_mask_count }}
              </v-chip>
              <v-chip
                class="mr-2"
                color="orange"
              >
                Mask weared incorrect count: {{ item.mask_weared_incorrect_count }}
              </v-chip>
              <v-chip
                class="mr-2"
                color="error"
              >
                Without mask count: {{ item.without_mask_count }}
              </v-chip>
            </v-list-item-title>
            <v-divider class="my-2"></v-divider>
            <v-list-item-subtitle class="my-2">
              Created at: {{
                item.created_at ? formatDate(item.created_at) : null
              }}
            </v-list-item-subtitle>
            <v-list-item-subtitle v-if="item.updated_at">
              Updated at: {{
                item.updated_at ? formatDate(item.updated_at) : null
              }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import PageHeader from "~/components/PageHeader";
import _ from "lodash";
import {format, parseISO} from "date-fns";

export default {
  name: "NoticeView",
  components: {
    PageHeader,
  },
  created() {
    this.fetchItem(this.$route.params.id);
  },
  data() {
    return {
      item: {
        id: null,
        location_id: null,
        mask_weared_incorrect_count: 0,
        with_mask_count: 0,
        without_mask_count: 0,
        total_count: 0,
        media: {},
        raw_json: null,
        created_at: null,
        updated_at: null,
        location: {
          // id: null,
          // name: null,
          // created_at: null,
          // updated_at: null
        }
      },
      loading: false,
    }
  },
  methods: {

    async fetchItem(id) {
      this.loading = true;

      try {
        const data = await this.$api.notice.view(id);
        this.item = data.data;
        this.item.media = JSON.parse(data.data.media);
      } catch (e) {
        this.alert('error', e.message);
      }

      this.loading = false;

    },

    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd HH:mm:ss');
    },

    // getObjectValue(sourceObject, sourceKey, sourceValue, rsValue) {
    //   let obj = {};
    //   obj[sourceKey] = sourceValue;
    //   return _.get(sourceObject[_.findKey(sourceObject, obj)], rsValue);
    // },

    // async export_excel(client_id) {
    //     this.loadingCount++;
    //     let data = {
    //         client_id: client_id,
    //     };
    //     this.$axios.get("item/exportByCid", {
    //         params: data,
    //         responseType: 'blob'
    //     })
    //         .then((response) => {
    //             fileDownload(response.data, response.headers['x-file-name']);
    //         })
    //         .catch((e) => {
    //             const reader = new FileReader();
    //             reader.onload = () => {
    //                 //console.log("error", JSON.parse(reader.result));
    //                 this.alert('error', JSON.parse(reader.result).message);
    //             };
    //             reader.readAsText(e.response.data);
    //         }).finally(() => {
    //         this.loadingCount--;
    //     });
    // },

  },
}
</script>

<style scoped>

</style>
