<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item>
          <v-img
            class="ml-n3"
            :lazy-src="require('~/assets/mask_man.png')"
            max-height="250"
            max-width="250"
            :src="require('~/assets/mask_man.png')"
          ></v-img>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"/>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-title v-text="title"/>
    </v-app-bar>
    <v-main>
      <v-container>
        <alert-message v-if="$store.state.messages.length > 0"
                       v-for="(message, k) in $store.state.messages" :key="k"
                       :message="message"/>
        <Nuxt/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import AlertMessage from "@/components/Common/AlertMessage";

export default {
  name: 'DefaultLayout',
  components: {AlertMessage},
  data() {
    return {
      clipped: false,
      drawer: true,
      items: [
        {
          icon: 'mdi-home',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-image-area',
          title: 'App banner',
          to: '/banner'
        },
        {
          icon: 'mdi-map-marker',
          title: 'Location',
          to: '/location'
        },
        {
          icon: 'mdi-bulletin-board',
          title: 'Notice',
          to: '/notice'
        },
      ],
      miniVariant: false,
      title: 'Mask detection'
    }
  }
}
</script>
