<template>
  <div class="dashboard">
    <v-sheet tile class="dashboard-greeting">
      <h1 class="display-3 mb-3">Dashboard</h1>
    </v-sheet>
    <v-row>
      <v-col>
        <v-container>
          <DoughnutChart :chartData="dayChartData" :options="dayChartOptions" v-if="dayData.length > 0"></DoughnutChart>
          <div class="text-center" v-else>No daily data</div>
        </v-container>
      </v-col>
      <v-col>
        <v-container>
          <LineChart :chartData="weekChartData" :options="weekChartOptions" v-if="weekData.length > 0"></LineChart>
          <div class="text-center" v-else>No weekly data</div>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LineChart from "@/components/LineChart";
import BarChart from "@/components/BarChart";
import DoughnutChart from "@/components/DoughnutChart";
import {endOfDay, format, parseISO, startOfDay, subDays} from "date-fns";
import _ from "lodash";

export default {
  name: "index",
  components: {
    LineChart,
    BarChart,
    DoughnutChart
  },
  head() {
    return {
      title: 'home'
    }
  },
  data() {
    return {
      loading: false,
      weekChartData: {},
      dayChartData: {},
      dayChartOptions: {
        title: {
          display: true,
          text: 'Daily mask detection record',
        },
        responsive: true,
        maintainAspectRatio: false
      },
      weekChartOptions: {
        title: {
          display: true,
          text: 'Weekly mask detection record',
        },
        maintainAspectRatio: false,
        responsive: true,
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              beginAtZero: true,
              stepSize: 1
            }
          }]
        }
      },
      dayData: [],
      weekData: [],
    }
  },
  mounted() {
    this.fetchDailyData();
    this.fetchWeeklyData();
  },
  methods: {
    async fetchDailyData() {
      this.loading = true;
      try {
        const params = {};
        params['start_date'] = startOfDay(new Date());
        params['end_date'] = endOfDay(new Date());
        const rawDayData = await this.$api.notice.fetchDashboardData(params);
        this.dayData = rawDayData.data;
        this.dayChartData = this.dayChartDataFormat(this.dayData);
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async fetchWeeklyData() {
      this.loading = true;
      try {
        const params = {};
        params['start_date'] = subDays(new Date(), 7);
        params['end_date'] = endOfDay(new Date());
        const rawWeekData = await this.$api.notice.fetchDashboardData(params);
        this.weekData = rawWeekData.data;
        this.weekChartData = this.weekChartDataFormat(this.weekData);
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    dayChartDataFormat(data) {
      let finalObj = {};
      let mask_weared_incorrect_count = 0;
      let with_mask_count = 0;
      let without_mask_count = 0;
      data.forEach(function (d) {
        mask_weared_incorrect_count += d.mask_weared_incorrect_count;
        with_mask_count += d.with_mask_count;
        without_mask_count += d.without_mask_count;
      });
      finalObj = {
        labels: ['With mask', 'Mask weared incorrect', 'Without mask'],
        hoverOffset: 4,
        datasets: [
          {
            backgroundColor: ['#4CAF50', '#ff9800', '#ff5252'],
            data: [with_mask_count, mask_weared_incorrect_count, without_mask_count],
          }
        ]
      }
      return finalObj;
    },

    weekChartDataFormat(data) {
      const formatedData = [];
      const tempDateLabels = [];
      data.forEach(function (d) {
        tempDateLabels.push(format(parseISO(d.created_at), 'MM-dd'));
      });
      const dateLabels = _.uniq(tempDateLabels);
      dateLabels.forEach(function (dl) {
        let mask_weared_incorrect_count = 0;
        let with_mask_count = 0;
        let without_mask_count = 0;
        let total_count = 0;
        data.forEach(function (d) {
          const dateKey = format(parseISO(d.created_at), 'MM-dd');
          if (dateKey === dl) {
            mask_weared_incorrect_count += d.mask_weared_incorrect_count;
            with_mask_count += d.with_mask_count;
            without_mask_count += d.without_mask_count;
            total_count += d.total_count;
          }
        });
        formatedData[dl] = {
          "mask_weared_incorrect_count": mask_weared_incorrect_count,
          "with_mask_count": with_mask_count,
          "without_mask_count": without_mask_count,
          "total_count": total_count,
        };
      });

      let finalObj = {};
      let mask_weared_incorrect_arr = [];
      let with_mask_arr = [];
      let without_mask_arr = [];
      let total_arr = [];
      for (const [key, value] of Object.entries(formatedData)) {
        mask_weared_incorrect_arr.push(value.mask_weared_incorrect_count);
        with_mask_arr.push(value.with_mask_count);
        without_mask_arr.push(value.without_mask_count);
        total_arr.push(value.total_count);
      }
      finalObj = {
        labels: dateLabels,
        datasets: [
          {
            label: 'With mask',
            borderColor: '#4CAF50',
            borderWidth: 2,
            data: with_mask_arr,
            tension: 0.1
          },
          {
            label: 'Mask weared incorrect',
            borderColor: '#ff9800',
            borderWidth: 2,
            data: mask_weared_incorrect_arr,
            tension: 0.1
          },
          {
            label: 'Without mask',
            borderColor: '#ff5252',
            borderWidth: 2,
            data: without_mask_arr,
            tension: 0.1
          },
          {
            label: 'Total',
            borderColor: '#414141',
            borderWidth: 2,
            data: total_arr,
            tension: 0.1
          },
        ],
      }
      return finalObj;
    }

  }
}

</script>

<style>
.dashboard-greeting {
  text-align: center;
  padding: 64px 16px;
  border-bottom: 1px solid #F0F0F0 !important;
}
</style>
