<template>
  <div>
    <page-header :title="item.id != null ? 'Edit location' : 'Create location'" :show-back="true"></page-header>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-card class="mx-auto" max-width="650px">
        <v-container>
          <v-text-field
            v-model="item.name"
            :rules="nameRules"
            label="Name"
            required
            outlined
            dense
          ></v-text-field>
          <v-text-field
            v-model="item.created_at"
            label="Created at"
            :disabled="true"
            outlined
            dense
          ></v-text-field>
          <v-text-field
            v-model="item.updated_at"
            label="Updated at"
            :disabled="true"
            outlined
            dense
          ></v-text-field>
          <v-btn
            color="success"
            depressed
            block
            :disabled="!valid"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-container>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import _ from "lodash";
import PageHeader from "@/components/PageHeader";

export default {
  name: "LocationForm",
  components: {
    PageHeader,
  },
  created() {
    if (this.$route.params.id) {
      this.fetchItem(this.$route.params.id);
    }
  },
  data() {
    return {
      item: {
        id: null,
        name: null,
        created_at: null,
        updated_at: null,
      },
      nameRules: [
        v => !!v || 'Name is required',
      ],
      valid: true,
      loading: false,
    }
  },
  computed: {},
  methods: {
    async fetchItem(id) {
      this.loading = true;
      try {
        const data = await this.$api.location.view(id);
        this.item = data.data;
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async submit() {
      const success = this.$refs.form.validate();
      if (success) {
        this.loading = true;
        try {
          const data = await (this.item.id !== null ?
            await this.$api.location.edit(this.item.id, this.item) :
            await this.$api.location.create(this.item));
          this.submitSuccess(data.data);
        } catch (e) {
          this.alert('error', e.message);
        }
        this.loading = false;
      }
    },

    submitSuccess: function (data) {
      this.alert('success', data.message);
      this.$router.push({
        name: 'location'
      });
    },

  },
}
</script>

<style scoped>

</style>
