<template>
  <v-container fluid>
    <page-header :title="'Location list'">
      <template v-slot:actions>
        <v-btn
          color="primary"
          depressed
          class="ml-2"
          :to="{name: 'location_create'}"
        >
          <v-icon>mdi-plus</v-icon>
          Create
        </v-btn>
        <v-btn
          color="amber"
          depressed
          class="ml-2"
          @click="trashedLinkFactory()"
        >
          <v-icon>mdi-delete</v-icon>
          Trashed
        </v-btn>
      </template>
    </page-header>
    <v-data-table
      class="elevation-1"
      :headers="headers"
      :items="items"
      :loading="loading"
    >
      <template v-slot:item.created_at="{ item }">
        {{ item.created_at ? formatDate(item.created_at) : null }}
      </template>
      <template v-slot:item.updated_at="{ item }">
        {{ item.updated_at ? formatDate(item.updated_at) : null }}
      </template>
      <template v-slot:item._action="{ item }">
        <v-btn
          icon
          @click="editLinkFactory(item)"
        >
          <v-icon>mdi-pen</v-icon>
        </v-btn>
        <v-btn
          icon
          @click="deleteItem(item)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import PageHeader from "~/components/PageHeader";
import {format, parseISO} from "date-fns";

export default {
  name: "location",
  components: [
    PageHeader
  ],
  data: () => ({
    headers: [
      {
        text: 'ID',
        align: 'start',
        value: 'id',
        sortable: false,
      },
      {
        text: 'Name',
        value: 'name',
        sortable: false,
      },
      {
        text: 'Created At',
        value: 'created_at',
        sortable: false,
      },
      {
        text: 'Updated At',
        value: 'updated_at',
        sortable: false,
      },
      {
        text: 'Action',
        value: '_action',
        sortable: false,
      }
    ],
    items: [],
    loading: false,
  }),
  created() {
    this.fetchList();
  },
  methods: {
    async fetchList(params) {
      this.loading = true;
      try {
        const data = await this.$api.location.list(params);
        this.items = data.data;
      } catch (e) {
        this.alert('error', e.message);
      }
      this.loading = false;
    },

    async deleteItem(item) {
      if (!window.confirm("Confirm to delete[" + item.name + "]?"))
        return;

      try {
        const data = await this.$api.location.delete(item.id);
        this.alert('success', data.data.message);
        await this.fetchList();
      } catch (e) {
        this.alert('error', e.message);
      }
    },

    formatDate(date) {
      return format(parseISO(date), 'yyyy-MM-dd HH:mm:ss');
    },

    editLinkFactory(item) {
      this.$router.push({
        name: "location_edit",
          params: {
            id: item.id
          }
      })
    },

    trashedLinkFactory() {
      this.$router.push({
        name: "location_trashed",
      })
    }

  },
}
</script>

<style scoped>

</style>
